body, html, #mymap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin:0;
	font-family:"微软雅黑";
}
#result{
	height: 100%;
	width: 15%;
	position: absolute;
	top: 5%;
	right: 0;
	overflow: auto;
}
#results{
	height: 100%;
	width: 16%;
	position: absolute;
	top: 6%;
	left: 0;
	overflow: hidden;
}